In [2]:
f = open('data.txt','x')  # Create file
f.close()

In [2]:
f = open('data.txt','r')  # Read file
b= f.read()
print(b)
f.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [4]:
f = open('data.txt','r') # read file
b= f.read(20)
print(b)
print(type(b))
f.close()

1.hello world
2.hell
<class 'str'>

In [5]:
f = open('data.txt','r')
b= f.readline()
print(b)
f.close()

1.hello world

In [6]:
f = open('data.txt','r')
b= f.read()
c=b.split('\n')
print(c)
line_no = int(input("Enter line no = "))
print(c[line_no-1])
f.close()

['1.hello world', '2.hello world', '3.hello world', '4.hello world', '5.hello world', '6.hello world', '7.hello world']
Enter line no = 2
2.hello world

In [15]:
f = open('data.txt','a') # append (auto create file) and put data
b= f.write('\nHello World\n')
print(b)

f.close()

13

In [16]:
info=""
add=0
n= int(input("Enter n= "))
for i in range(n):
    name=input("Enter product name=")
    price=int(input("Enter unit price= "))
    quantity= int(input("Enter quantity="))
    total=price*quantity
    s=f"{name} {price} {quantity} {total}\n"
    info=info+s
    add=add+total

print("The billing is = \n",info)
print("The total price is=",add)

f = open('bill.txt','a') # append (auto create file) and put data
b= f.write(info)

f.close()

Enter n= 2
Enter product name=Apple
Enter unit price= 150
Enter quantity=2
Enter product name=Ball
Enter unit price= 150
Enter quantity=2
The billing is =
 Apple 150 2 300
Ball 150 2 300

The total price is= 600

In [24]:
info=""
add=0
n= int(input("Enter n= "))
f = open('bill.csv','w') 
f.write("Name,Price,Quantity,Total\n")
f.close()
for i in range(n):
    name=input("Enter product name=")
    price=int(input("Enter unit price= "))
    quantity= int(input("Enter quantity="))
    total=price*quantity
    s=f"{name},{price},{quantity},{total}\n"
    info=info+s
    add=add+total

print("The billing is = \n",info)
print("The total price is=",add)

f = open('bill.csv','a') 
b= f.write(info)

f.close()

Enter n= 1
Enter product name=Apple
Enter unit price= 50
Enter quantity=2
The billing is =
 Apple,50,2,100

The total price is= 100

In [25]:
file = open('bill.csv')
print(file.read())
file.close()

Name,Price,Quantity,Total
Apple,50,2,100

In [26]:
import pandas as pd
df = pd.read_csv("Bill.csv")
df

    Name  Price  Quantity  Total
0  Apple     50         2    100

In [29]:
import os 
if os.path.exists('data.txt'):
    os.remove('data.txt')
else:
    print("There is no such file!!!")

There is no such file!!!