In [1]:
#strings
a="Hello World"
a

'Hello World'

In [2]:
a="Hello World"
print(a[0])

H

In [3]:
a="Hello World"
print(a[0:])

Hello World

In [4]:
a="Hello"
print(a[5::-1])

olleH

In [5]:
a="Hello World"
print(a[0:5])

Hello

In [6]:
a="Hello World"
print(a[0:5:2])

Hlo

In [10]:
#string formatting
a="Ram"
b=23
c=f"hello I am {a} I am {b}"
print(c)

hello I am Ram I am 23

In [11]:
a="Hello WOrld"
a.upper()

'HELLO WORLD'

In [13]:
a="Hello WOrld"
print(a.lower())

hello world

In [19]:
info=""
add=0
n=int(input("Enter the no. of things you want to buy="))
for i in range(n):
    name=input("Enter product name=")
    price=int(input("Enter unit price="))
    quantity=int(input("Enter unit quantity="))
    
    total=price*quantity
    s=f"{name} {price} {quantity} {total}\n"
    info=info+s
    add=add+total
    
    print("the billing is \n",info)
    print("the total price is",add)

Enter the no. of things you want to buy=1
Enter product name=coke
Enter unit price=150
Enter unit quantity=2
the billing is
 coke 150 2 300

the total price is 300

In [28]:
a="Hello World I am python".lower()
if "z".lower() in a:
    print("YES")
else:
    print("NO")

NO

In [29]:
a="Hello World I am python"
x=a.lower()
b=input("Enter the value you want to search=")
y=b.lower()
if y in x:
    print("yes")
    print(x.count(y))
else:
    print("INvalid input or doesnot match!!!!")

Enter the value you want to search=hello
yes
1

In [34]:
#replace
a="Hello World I am python"
b=a.replace("Python","PYTHON")
b

'Hello World I am python'

In [38]:
a="Hello World I am python"
x=a.lower()
b=input("Enter the value you want to search=")
y=b.lower()
if y in x:
    print("yes")
    c=input("Enter the value you want to replace=")
    s=x.replace(y,c)
    print(s)
    
else:
    print("Invalid input or doesnot match!!!!")

Enter the value you want to search=o
yes
Enter the value you want to replace=ty
hellty wtyrld i am pythtyn

In [2]:
a=["Apple","Ball","Cat"]
b=[1,2,3,4,5]
c=["Dog"]
print(a+c)
print(a+b)

['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5]

In [3]:
a=["Apple","Ball","Cat"]
a[0]

'Apple'

In [12]:
a=["Apple","Ball","Cat"]

print(a[0:122:2])
print(a*2)
print(a[0]=="Append")

['Apple', 'Cat']
['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
False

In [15]:
a="Hello World"
b=a.replace("Hello","hello")
print(b)
print(a)

hello World
Hello World

In [22]:
x=[]
a="Apple","Ball"
b="Ball"
c=x+[a]
print(c)

[('Apple', 'Ball')]

In [28]:
x=[]
n=int(input("Enter n= "))
for i in range(n):
    a=int(input("Enter value for insert in x[]= "))
    x.append(a)
print(x)
print("The sum is= ",sum(x))
print("The Max is= ",max(x))

print("The Min is= ",min(x))

Enter n= 5
Enter value for insert in x[]= 1
Enter value for insert in x[]= 2
Enter value for insert in x[]= 3
Enter value for insert in x[]= 4
Enter value for insert in x[]= 5
[1, 2, 3, 4, 5]
The sum is=  15
The Max is=  5
The Min is=  1

In [29]:
a=["Apple","Ball","Cat"]
for i in a:
    print(i)

Apple
Ball
Cat

In [30]:
a=["Apple","Ball","Cat"]
b="Apple"
if b in a:
    print("Yes")

Yes

In [5]:
c=0
a=["Apple","Ball","Cat","APPLE"]
b=input("Enter b=")
for i in a:
    if i.lower()==b.lower():
        c=c+1
        print(i)
        
print(c)

Enter b=apple
Apple
APPLE
2

In [9]:
a=["Apple","Ball","Cat","APPLE"]
a.insert(2,"Zoo")
a

['Apple', 'Ball', 'Zoo', 'Cat', 'APPLE']

In [7]:
a=["Apple","Ball","Cat","APPLE"]
del a[1:3:1]
a

['Apple', 'APPLE']

In [8]:
a=["Apple","Ball","Cat","APPLE"]
a.remove("APPLE")
a

['Apple', 'Ball', 'Cat']

In [15]:
a=["Apple","Ball","Cat","Apple"]
b="Apple"
c=a.count(b)
print(c)
for i in range(0,2):
    if b in a:
        a.remove(b)
    print(a)

2
['Ball', 'Cat', 'Apple']
['Ball', 'Cat']

In [19]:
x=[]
a=["Apple","Ball","Cat","Apple"]
b="Apple"
l=len(a)
for i in range(l):
    if b!=a[i]:
        x.append(a[i])
print(x)

['Ball', 'Cat']

In [26]:
a=["Apple","Ball","Cat","Apple"]
b=a.pop(1)
a

['Apple', 'Cat', 'Apple']

In [28]:
a=["Apple","Ball","Cat","Apple"]
a.index("Ball")

1

In [32]:
a = ['Apple',"fish", 'Ball', 'Cat', 'Dog',"Apple"]
for i in range(len(a)):
    if "Apple"==a[i]:
        print(i)

0
5

In [34]:
info=""
add=0
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name=")
    price=int(input("Enter price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    s=f"{name} {price} {quantity} {total} \n"
    info=info+s
    add=add+total
    
print("The billing is \n",info)
print("The total price is ",add)

Enter n= 2
Enter name=coke
Enter price=150
Enter quantity=2
Enter name=fanta
Enter price=150
Enter quantity=2
The billing is
 coke 150 2 300
fanta 150 2 300

The total price is  300

In [35]:
info.split('\n')

['coke 150 2 300 ', 'fanta 150 2 300 ', '']

In [37]:
info=[]
add=0
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name=")
    price=int(input("Enter price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    data=[name,price,quantity,total]
    info.append(data)
    add=add+total
    
print("The billing is \n",info)
print("The total price is ",add)

Enter n= 2
Enter name=coke
Enter price=150
Enter quantity=2
Enter name=fanta
Enter price=150
Enter quantity=2
The billing is
 [['coke', 150, 2, 300], ['fanta', 150, 2, 300]]
The total price is  600

In [38]:
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
a[0]

[1, 2, 3]

In [39]:
a[0][0]

1

In [40]:
a[1][1]

5

In [48]:
info='coke 150 2 300.fanta 150 2 300'
print(info)
x=info.split('.')
print(x)
o=[]
for i in x:
    y=i.split()
    o.append(y)
print(o)

coke 150 2 300.fanta 150 2 300
['coke 150 2 300', 'fanta 150 2 300']
[['coke', '150', '2', '300'], ['fanta', '150', '2', '300']]

In [5]:
# remove()
x=[]
a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
b="Apple"
l=len(a)
for i in range(l):
    if b!=a[i]:
        x.append(a[i])
print(x)

['Ball', 'Cat', 'Dog']

In [1]:
# tuples
a=(1,2,3)
b=("Apple","Ball","Cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
a=("apple",)
print(type(a))

<class 'tuple'>

In [5]:
a=tuple()
b=("Apple",)
c=a+b
print(c)

('Apple',)

In [6]:
a=tuple()
n=int(input("Enter n= "))
for i in range(n):
    x=input("Enter x= ")
    a=a+(x,)
print(a)

Enter n= 2
Enter x= apple
Enter x= ball
('apple', 'ball')

In [10]:
a=(1,3,4,2,6,5)
b=sorted(a)
print(b)
print(a)

[1, 2, 3, 4, 5, 6]
(1, 3, 4, 2, 6, 5)

In [11]:
c=(1,2,3,4,5,6)
c[0:222:2]

(1, 3, 5)

In [13]:
c=(1,2,3,4,5,6)
print(len(c))
c[5::-1]

6

(6, 5, 4, 3, 2, 1)

In [15]:
c=(1,2,3,4,5,6)
d=list(c)
d

[1, 2, 3, 4, 5, 6]

In [16]:
def cal():
    a=10
    b=20
    return a,b
cal()

(10, 20)

In [19]:
c=(1,2,3,4,5,6)
o=list(c)
del o[0]
o

[2, 3, 4, 5, 6]

In [21]:
c=(1,2,3,4,5,6)
print(sum(c))
print(max(c))
print(min(c))

21
6
1

In [23]:
f=(1,2,3,4,5,6)
f.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
v=[2, 3, 4, 5, 6]
v.append(7)
v

[2, 3, 4, 5, 6, 7]

In [2]:
# Search
a = [['coke', '150', '2', '300'], ['fanta', '150', '2', '300']]
b=input("Enter search data=  ")
for i in a:
    if b in i:
        
        print(i)

Enter search data=  fanta
['fanta', '150', '2', '300']

In [ ]:
# Delete
a = [['coke', '150', '2', '300'], ['fanta', '150', '2', '300']]
b=input("Enter search data=  ")
for i in a:
    if b in i:
        a.remove(i)
print(a)

In [1]:
# tuple inside tuple
t=()
n=int(input("Enter n= "))
for i in range(n):
    name=str(input("Enter name = "))
    age=int(input("Enter age= "))
    address=input("Enter address= ")
    x= (name,age,address)
    t=t+(x,)
print(t)

Enter n= 2
Enter name = Ram
Enter age= 21
Enter address= Ktm
Enter name = Shyam
Enter age= 22
Enter address= Palpa
(('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa'))

In [13]:
a = (('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa'))
b=("kalu",43,"pop")
a=a+(b,)
a

(('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa'), ('kalu', 43, 'pop'))

In [9]:
# tuple inside list
a =[('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa')]
a[0][0]="Rama"
a

TypeError: 'tuple' object does not support item assignment

In [14]:
a =[('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa')]
a.append(("kalu",56,"lol"))
a

[('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa'), ('kalu', 56, 'lol')]

In [15]:
a

[('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa'), ('kalu', 56, 'lol')]

In [16]:
a[0]=("lol",56,"pop")
a

[('lol', 56, 'pop'), ('Shyam', 22, 'Palpa'), ('kalu', 56, 'lol')]

In [17]:
# tuple inside tuple to list inside list
a= (('Ram', 21, 'Ktm'), ('Shyam', 22, 'Palpa'), ('kalu', 56, 'lol'))
l=[]
for i in range(len(a)):
    x=list(a[i])
    l.append(x)
print(l)

[['Ram', 21, 'Ktm'], ['Shyam', 22, 'Palpa'], ['kalu', 56, 'lol']]

In [30]:
# list inside list to tuple inside tuple
a= [['Ram', 21, 'Ktm'], ['Shyam', 22, 'Palpa'], ['kalu', 56, 'lol']]
t=()
for i in range(len(a)):
    x=tuple(a[i])
    t=t+(x,)
print(a)

[['Ram', 21, 'Ktm'], ['Shyam', 22, 'Palpa'], ['kalu', 56, 'lol']]

In [19]:
# WAP to make a matrix using list
m=[]
i=int(input("Enter no.of row= "))
j=int(input("Enter no.of column= "))
for k in range(i):
    x=[]
    for l in range(j):
        values=int(input("Enter values= "))
        x.append(values)
    m.append(x) 
print(m)

Enter no.of row= 2
Enter no.of column= 2
Enter values= 1
Enter values= 2
Enter values= 3
Enter values= 4
[[1, 2], [3, 4]]

In [20]:
# Wap to make a matrix using tuple
m=()
i=int(input("Enter no.of row= "))
j=int(input("Enter no.of column= "))
for k in range(i):
    x=()
    for l in range(j):
        values=int(input("Enter values= "))
        x=x+(values,)
    m=m+(x,)
print(m)

Enter no.of row= 2
Enter no.of column= 2
Enter values= 1
Enter values= 2
Enter values= 3
Enter values= 4
((1, 2), (3, 4))

In [27]:
a="python"
for i in range(len(a)):
    print(a[i])

p
y
t
h
o
n

In [3]:
d={'a': "Apple",
  'b': 'Ball',
  'c': 'Cat'}
print(type(d))
print(len(d))

<class 'dict'>
3

In [4]:
print(d['a'])

Apple

In [7]:
d=dict()
d['a']="apple"
d['b']="ball"
d

{'a': 'apple', 'b': 'ball'}

In [8]:
e = {'a': 'apple', 'b': 'ball'}
e['a']="APPLE"
e

{'a': 'APPLE', 'b': 'ball'}

In [9]:
d={}
d['Ram']= 2
d['Shyam']= 3
d

{'Ram': 2, 'Shyam': 3}

In [10]:
info=dict()
n=int(input("Enter the value of n= "))
for i in range(n):
    name=input("Enter name= ")
    phone=int(input("Enter phone"))
    info[name]=phone
print(info)

Enter the value of n= 2
Enter name= Ram
Enter phone987
Enter name= Shyam
Enter phone3
{'Ram': 987, 'Shyam ': 3}

In [16]:
a = {'Ram': 987, 'Shyam ': 3}
for i in a.items():
    print(i)

('Ram', 987)
('Shyam ', 3)

In [14]:
a= "Python"
for i in a:
    print(i,end="")

Python

In [17]:
l = [('Ram', 98678554553),('Shyam', 984353453535)]
print(dict(l))

{'Ram': 98678554553, 'Shyam': 984353453535}

In [23]:
a = {'Ram': 9, 'Shyam': 8}
no=int(input("Enter no.= "))
for i in a.items():
    
    if no==i[1]:
        print(i[0])

Enter no.= 9
Ram

In [30]:
a = {'Ram': 9, 'Shyam': 8}

del a['Ram']
a

{'Shyam': 8}

In [31]:
a = {'Ram': 9, 'Shyam': 8}
b=a.pop('Ram')
print(b)
print(a)

9
{'Shyam': 8}

In [36]:
a={['Ram','Hari']:8, 'Shyam': 9}
print(a)
print(a[('Ram','Hari')])

TypeError: unhashable type: 'list'

In [46]:
#list inside dictionary
a= {'Ram': [98678554553,980043353], 'Shyam': [984353453535,6898454545]}
a['Hari']= [98434,877]
a['Shyam'].append(7)
print(a)

{'Ram': [98678554553, 980043353], 'Shyam': [984353453535, 6898454545, 7], 'Hari': [98434, 877]}

In [48]:
# list inside dictionary
info=dict()
n=int(input("Enter n= "))
for i in range(n):
    name=input("Enter name= ")
    ntcno=int(input("Enter ntc no.= "))
    ncellno=int(input("Enter ncell no. = "))
    info[name]=[ntcno,ncellno]
    
print(info)

Enter n= 2
Enter name= LOL
Enter ntc no.= 2
Enter ncell no. = 3
Enter name= POP
Enter ntc no.= 1
Enter ncell no. = 5
{'LOL': [2, 3], 'POP': [1, 5]}

In [59]:
a = {'Ram': ['Kathmandu', 'Dhading'],
     'Shyam': ['Kathmandu', 'Nuwakot'],
     'hari': ['Jhapa','Bara']}
address=input("Enter addresss= ")
for i in a.items():
    if address.lower()==i[1][0].lower():
        print(i[0])

Enter addresss= jhapa
hari

In [19]:
# wap to make dict inside dict
d=dict()

Enter number of rows in dict= 2
Enter name= er
Enter address= erer
Enter name= rer
Enter address= er
{'name': ['rer', 'er']}

In [1]:
a = {1,2,3,4}
b={}
print(type(a))
print(type(b))

<class 'set'>
<class 'dict'>

In [2]:
# set is non ordered
a= {"Apple","ball","cat"}
print(a)

{'ball', 'Apple', 'cat'}

In [3]:
#set is non indexing
a= {"Apple","ball","cat"}
a[0]

TypeError: 'set' object is not subscriptable

In [4]:
# no duplicate value
a={1,2,3,4,5,4,3,2,1}
print(a)

{1, 2, 3, 4, 5}

In [5]:
# mutable-> liable to change
a=set()
a.add(1)
a.add(2)
a.add(3)
a.add("Apple")
print(a)

{1, 2, 3, 'Apple'}

In [8]:
a=set()
n=int(input("Enter n= "))
for i in range(n):
    x=int(input("Enter x= "))
    a.add(x)
print(a)

Enter n= 2
Enter x= 1
Enter x= 2
{1, 2}

In [9]:
a= {1,2,3,4,5}
b=list(a)
c=tuple(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [14]:
a= [1,2,3,5,6,4,3,2,]
b=set(a)
a=list(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [16]:
a=[1,2,3,4,5,4,3,2,1]
b=set(a)
print(b)
a=list(b)
print(a)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]