In [2]:
#for 
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [3]:
for i in range(1,5):
    print(i)

1
2
3
4

In [4]:
for i in range(1,5,2):
    print(i)

1
3

In [7]:
n=int(input("enter n="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
s=0
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter numbers="))
    s=s+x
print("the sum of numbers is ",s )

Enter n=3
Enter numbers=1
Enter numbers=2
Enter numbers=3
the sum of numbers is  6

In [10]:
fac=1
n=int(input("enter the number for factorial="))
for i in range(1,n+1):
    fac=fac*i
print(fac)

enter the number for factorial=4
24

In [3]:
a="python"
for i in a:
    print(i,"hello")

p hello
y hello
t hello
h hello
o hello
n hello

In [16]:
a="python"
l=len(a)
for i in range(l):
    print(a[i])

p
y
t
h
o
n

In [22]:
s=""
n=int(input("enter the numbers n as a input="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phone number=")
    info=name+" "+phone
    s=s+info+"\n"
print(s)

enter the numbers n as a input=2
enter name=ram
enter phone number=988606068
enter name=sam
enter phone number=4454646646
ram 988606068
sam 4454646646

In [7]:
n=int(input("enter any number you want to check ="))
if n>=2:
    for i in range(2,n):
        if n%i==0:
            print("this is composite number")
            break
            
    else:
        print("this is prime number")
        
else:
    print("invalid input!!!! the number should be 2 or more than 2")

enter any number you want to check =1
invalid input!!!! the number should be 2 or more than 2

In [1]:
n=int(input("enter how many number you want in fibonacci series ="))
a=0
b=1
print(a)
print(b)
for i in range(3,n+1):
    c=a+b
    a=b
    b=c
    print(c)

enter how many number you want in fibonacci series =5
0
1
1
2
3

In [15]:
a="Python"
l=len(a)-1
i=0
while l>=i:
    print(a[l],end="")
    l=l-1
print(a[5])

nohtyPn

In [ ]:
n=int(input("Enter n="))
m=2
if m<=n:
    while m<n:
        if n%m==0:
            print("The number is composite")
            break
        m=m+1
    else:
        print("The number is prime")

else:
    print("the number should be 2 or greater than 2")

In [5]:
n=int(input("Enter n="))
m=2
if m<=n:
    while m<n:
        if n%m==0:
            print("The number is composite")
            break
        m=m+1
    else:
        print("The number is prime")

else:
    print("the number should be 2 or greater than 2")

Enter n=5
The number is prime
The number is prime

In [2]:
a="hello world"
l=len(a)-1
i=0
while i<l:
    if a[i]==" ":
        break
    print(a[i],end="")
    i=i+1

hellohello

In [20]:
a="hello world"
l=len(a)
k=0
while k<l:
    if a[k]=="r":
        break
    print(a[k],end="")
    k=k+1

hello wohello wo

In [22]:
a="hello world"
l=len(a)
k=0
while k<l:
    if a[k]==" ":
        k=k+1
        continue
    print(a[k],end="")
    k=k+1

helloworldhelloworld

In [3]:
def hello():
    print("Hello World")
    
hello()    
hello()

Hello World
Hello World

In [5]:
def cal():
    global b
    l=int(input("Enter the length="))
    b=int(input("Enter the breadth="))
    a=l*b
    print("The area is ",a)
cal()
print(b)

Enter the length=1
Enter the breadth=2
The area is  2
2

In [1]:
def area():
    l=int(input("Enter the l="))
    b=int(input("Enter the b="))
    print("The area is",l*b)
    
def volume():
    l=int(input("Enter the l="))
    b=int(input("Enter the b="))
    h=int(input("Enter the h="))
    print("The volume is",l*b*h)

x=int(input("Enter 1 to find area and 2 to find volume"))
if x==1:
    area()
    
elif x==2:
    volume()
    
else:
    print("Invalid input!!!!")

Enter 1 to find area and 2 to find volume3
Invalid input!!!!

In [3]:
def area():
  
    print("The area is",l*b)
    
def volume():
   
    h=int(input("Enter the h="))
    print("The volume is",l*b*h)

x=int(input("Enter 1 to find area and 2 to find volume"))
l=int(input("Enter the l="))
b=int(input("Enter the b="))
if x==1:
    area()
    
elif x==2:
    volume()
    
else:
    print("Invalid input!!!!")

Enter 1 to find area and 2 to find volume2
Enter the l=1
Enter the b=2
Enter the h=3
The volume is 6

In [4]:
# function ith argument and no written type
def cal(x,y,z):
    v=x*y*z
    print(v)

l=int(input("Enter the l="))
b=int(input("Enter the b="))
h=int(input("Enter the h="))

cal(l,b,h)

Enter the l=1
Enter the b=2
Enter the h=3
6

In [11]:
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
def div(a,b):
    print(a/b)

enter first number6
enter second number2
Enter operator + - * / /
3.0

In [1]:
def hello(a):
    print(a)

hello("Hello World")

Hello World

In [3]:
#funtion with argument and no return type
def area(l,b):
    a=l*b
    print(a)
area(2,3)

6

In [5]:
def volume(x,y,z):   # paramenter = x,y,z
    v=x*y*z
    print(v)

l=int(input("Enter the value of length="))
b=int(input("Enter the value of breadth="))
h=int(input("Enter the value of height="))

volume(l,b,h) # Argument = l,b,h

Enter the value of length=1
Enter the value of breadth=2
Enter the value of height=3
6

In [9]:
# function with return type

def cal():
    l=int(input("Enter the value of length="))
    b=int(input("Enter the value of b="))
    a=l*b
    return a
area=cal()
print(area)

Enter the value of length=2
Enter the value of b=3
6

In [12]:
l=int(input("Enter the value of length="))
b=int(input("Enter the value of breadth="))

def volume():
    h=int(input("Enter the value of height="))
    v=l*b*h
    return v

def area():
    a=l*b
    return a

area=area()
volume=volume()
print(volume())
print(area())

Enter the value of length=1
Enter the value of breadth=2
Enter the value of height=3

TypeError: 'int' object is not callable

In [11]:
# Return type function
l=int(input("Enter l="))
b=int(input("Enter b="))
def volume():
   
    h=int(input("Enter h="))
    v=l*b*h
    return v
def area():
   
    a=l*b
    return a


volume=volume()
area=area()
print(volume)
print(area)

Enter l=1
Enter b=2
Enter h=3
6
2

In [20]:
def area(l,b):
    a=l*b
    return a

def volume(l,b):
    h=int(input("Enter the height"))
    v=area(l,b)*h
    return v
 


l=int(input("Enter l="))
b=int(input("Enter b="))
volume=volume(l,b)
area=area(l,b)


print(area)
print(volume)

Enter l=1
Enter b=2
Enter the height3
2
6

In [22]:
import math
print(math.pi)

3.141592653589793

In [25]:
import math as m
mass=10
a=9.8
f=mass*a*m.sin(m.pi/2)
print(f)

98.0

In [26]:
m.pow(10,2)

100.0

In [ ]:
def add(a,b):
    print(a+b)
def sub(a,b):
    print(a-b)
def mul(a,b):
    print(a*b)
def div(a,b):
    print(a/b)
def cal():
    a=float(input("enter first number"))
    b=float(input("enter second number"))
    o=str(input("Enter operator + - * / "))
    if o=='+':
        add(a,b)
       

    elif o=='-':
        sub(a,b)

    elif o=='*':
          mul(a,b)
    elif o=='/' and b!=0:
        div(a,b)
        
    elif o=='/' and b==0:
        print("Value of b cannot be zero")

    else:
        print("You enter invalid operator !!!!!!")
        cal()
        
cal()

enter first number1
enter second number2
Enter operator + - * / 8
You enter invalid operator !!!!!!
enter first number1
enter second number2
Enter operator + - * / 7
You enter invalid operator !!!!!!
enter first number1
enter second number2
Enter operator + - * / #
You enter invalid operator !!!!!!

In [1]:
a= "Hello world I am Python"
if "HELLO" in a:
    print("Yes")
else:
    print("No")

No

In [2]:
# replace()
a="Hello world I am Python"
b=a.replace("Pytho","PYTHON")
print(b)

Hello world I am PYTHONn

In [5]:
a="Hello world I am Python"
x= a.lower()
b=input("Enter value for search ")
y = b.lower()
if y in x:
    print("Yes")
    c=input("Enter the string you want to replace=")
    s=x.replace(y,c)
    print(s)
    
else:
    print("No")

Enter value for search hello
Yes
Enter the string you want to replace=qwe
qwe world i am python

In [1]:
f = open('datafile.txt','x')
f.close()

In [3]:
f = open('datafile.txt','r')
a=f.read()
print(a)
f.close()

1.hi
2.hi
3.hi
4.hi
5.hi

In [4]:
f = open('datafile.txt','r')
a=f.read(20)
print(a)
f.close()

1.hi
2.hi
3.hi
4.hi

In [5]:
f = open('datafile.txt','r')
a=f.readline()
print(a)
f.close()

1.hi

In [8]:
f= open('datafile.txt','r')
b= f.read()
c=b.split('\n')
print(c)
line=int(input("Enter any line_no = "))
print(c[line-1])
f.close()

['1.hi', '2.hi', '3.hi', '4.hi', '5.hi']
Enter any line_no = 2
2.hi

In [9]:
f = open('datafile.txt','a')
b = f.write('\nhello\n')
print(b)
f.close()

7

In [11]:
f = open('datafile.txt','a')
b = f.write('\nhell\n')
print(b)
f.close()

6

In [7]:
f=open('data.csv')
print(f.read())
f.close()

Sn,Name,Age,Address,Phone
1,Ram,33,Kathmandu,9803245643
2,Shyam,43,Bara,98033232323
3,Hari,45,Pokhara,98034344433
4,Kiran,23,Lamjung,983434434433
5,Karina,24,Bhaktapur,9833434344
6,Gita,34,Lalitpur,98434344344

In [12]:
import pandas as pd
df = pd.read_csv('data.csv',index_col = 'Address')
df.loc['Bara':'Bhaktapur']

           Sn    Name  Age         Phone
Address
Bara        2   Shyam   43   98033232323
Pokhara     3    Hari   45   98034344433
Lamjung     4   Kiran   23  983434434433
Bhaktapur   5  Karina   24    9833434344

In [15]:
import pandas as pd
data = {'Ram':[23,45], 'Shyam':[21,46]}
df=pd.DataFrame(data)
df.to_csv('dat.csv')
df

   Ram  Shyam
0   23     21
1   45     46

In [2]:
class python:
    print("Hello World")

obj = python()

Hello World

In [13]:
class python:             #class
   
    def hello(self,language):      # method must use argument
        print("Hello World",language)

obj = python()        #object
obj.hello("python")     #object call method

Hello World python

In [14]:
class Point:
    def __init__(self, x=0, y=0):
        self.x=x
        self.y=y
        print(self.x,self.y)
        
    def __str__(self):
        return f"{self.x} {self.y}"
    
    def __add__(self,other):
        x=self.x + other.x
        y=self.y + other.y
        print(x,y)
        return Point(x,y)
    
p1 = Point(2,3)
p2 = Point(-1,2)
p3 = Point(4,6)
p = p1+p2+p3
print(p)
print(type(p))

2 3
-1 2
4 6
1 5
1 5
5 11
5 11
<__main__.Point object at 0x000001EAB2298130>
<class '__main__.Point'>