In [44]:
import mysql.connector
database = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
 database = "demo"
)
db = database.cursor()
db.execute("CREATE TABLE subject(id INT, name VARCHAR(255))")

In [45]:
#select sql query

db.execute("SELECT * FROM profile")
result =db.fetchall()
for x in result:
    print(x)

(3, 'Shyam', 'Nepal', '9841054637', 6)
(4, 'Ram', 'kathmandu', '9803288549', 2)
(9, 'kali', 'kathmandu', '9876544444', 6)

In [46]:
# insert sql query
sql = "INSERT INTO profile (name, address) VALUES('Ram','kathmandu')"
db.execute(sql)
database.commit()
print(mycursor.rowcount, "record inserted.")

-1 record inserted.

In [50]:
# select sql query
db.execute("SELECT * FROM profile WHERE address ='Nepal'")
result = db.fetchall()
for x in result:
    print(x)

(3, 'Shyam', 'Nepal', '9841054637', 6)

In [51]:
#delete
sql = "DELETE FROM profile WHERE address = 'Nepal' "
db.execute(sql)
database.commit()
print(db.rowcount, "record(s) deleted")

1 record(s) deleted

In [52]:
#update
sql = "UPDATE profile SET address = 'lamjung' WHERE address = 'kathmandu'"
db.execute(sql)
database.commit()
print(mycursor.rowcount, "record(s) affected")

-1 record(s) affected