In [1]:
# dictionary
# -Contain Mupltiple data
# -Duplicate value
# -Indexing
# -Ordered
# -Mutable  -> liable to change

In [ ]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>}

In [2]:
d={"a": "apple",
   "b": 'ball',
   'c': 'cat',
   'A': 'apple'}
print(len(d))
print(d)
print(type(d))

4
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}
<class 'dict'>

In [2]:
d={"a": "apple",
   "b": 'ball',
   'c': 'cat',
   'A': 'apple'}
print(d['a'])
print(d['b'])

apple
ball

In [3]:
d = dict()
d['a'] = "Apple"     #where a,b=key
d['b']= "Ball"
print(d)

{'a': 'Apple', 'b': 'Ball'}

In [4]:
z = {'a': 'Apple', 'b': 'Ball'}
z['a'] = 'apple'
z

{'a': 'apple', 'b': 'Ball'}

In [5]:
d={}
d['Ram'] = 9806547343
d['Shyam'] = 9804356786
d

{'Ram': 9806547343, 'Shyam': 9804356786}

In [6]:
d['Ram']

9806547343

In [7]:
info = dict()
n = int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    phone = int(input("Enter phone = "))
    info[name] = phone
print(info)

Enter n= 2
Enter name= Ram
Enter phone = 980444444444
Enter name= Shyam
Enter phone = 4345454545
{'Ram': '980444444444', 'Shyam': '4345454545'}

In [8]:
d['Ram'] = 9803288549
d

{'Ram': 9803288549, 'Shyam': 9804356786}

In [9]:
a = {'Ram': 98678554553, 'Shyam': 984353453535}
for i in a:
    print(i)

Ram
Shyam

In [10]:
a = {'Ram': 98678554553, 'Shyam': 984353453535}
for i in a.values():
    print(i)

98678554553
984353453535

In [11]:
a = {'Ram': 98678554553, 'Shyam': 984353453535}
for i in a.items():
    print(i)

('Ram', 98678554553)
('Shyam', 984353453535)

In [12]:
l = [('Ram', 98678554553),('Shyam', 984353453535)]
print(dict(l))

{'Ram': 98678554553, 'Shyam': 984353453535}

In [13]:
l = (['Ram', 98678554553],['Shyam', 984353453535])
print(dict(l))

{'Ram': 98678554553, 'Shyam': 984353453535}

In [17]:
a= {'Ram': 98678554553, 'Shyam': 984353453535}
n= int(input("Enter n= "))
for i in a.items():
    print(i)
    if n == i[1]:
        print(i[0])

Enter n= 984353453535
('Ram', 98678554553)
('Shyam', 984353453535)
Shyam

In [18]:
# del pop()
a= {'Ram': 98678554553, 'Shyam': 984353453535}
del a
a

NameError: name 'a' is not defined

In [19]:
# del pop()
a= {'Ram': 98678554553, 'Shyam': 984353453535}
del a['Ram']
print(a)

{'Shyam': 984353453535}

In [21]:
# pop() -> use to move values from one place to another 

a= {'Ram': 98678554553, 'Shyam': 984353453535}
b = a.pop('Ram')
print(b)
print(a)

98678554553
{'Shyam': 984353453535}

In [22]:
a= {('Ram','Hari'): 98678554553, 'Shyam': 984353453535}
print(a)

{('Ram', 'Hari'): 98678554553, 'Shyam': 984353453535}

In [23]:
a[('Ram', 'Hari')]

98678554553

In [24]:
a= {['Ram','Hari']: 98678554553, 'Shyam': 984353453535}
print(a)

TypeError: unhashable type: 'list'

In [25]:
# list inside dictionary 
a= {'Ram': [98678554553,980043353], 'Shyam': [984353453535,6898454545]}
a['Ram'][0]

98678554553

In [26]:
a= {'Ram': [98678554553,980043353], 'Shyam': [984353453535,6898454545]}
a['Hari']= [98566656565,343435554]
print(a)

{'Ram': [98678554553, 980043353], 'Shyam': [984353453535, 6898454545], 'Hari': [98566656565, 343435554]}

In [27]:
a= {'Ram': [98678554553,980043353], 'Shyam': [984353453535,6898454545]}
a['Ram'].append(9800334343)
print(a)

{'Ram': [98678554553, 980043353, 9800334343], 'Shyam': [984353453535, 6898454545]}

In [28]:
# list inside dictionary
d={}
d['Ram'] =[9806547343,4343335]
d['Shyam'] = [9804356786,3434334]
d

{'Ram': [9806547343, 4343335], 'Shyam': [9804356786, 3434334]}

In [29]:
info = dict()
n = int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    ntc_phone = int(input("Enter ntc_phone = "))
    ncell_phone = int(input("Enter ncell_phone = "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n= 2
Enter name= Ram
Enter ntc_phone = 9841343433443
Enter ncell_phone = 98184343434
Enter name= Shyam
Enter ntc_phone = 9841344343
Enter ncell_phone = 98183343444
{'Ram': [9841343433443, 98184343434], 'Shyam': [9841344343, 98183343444]}

In [11]:
a = {'Ram': ['Kathmandu', 'Dhading'],
     'Shyam': ['Kathmandu', 'Nuwakot'],
     'hari': ['Jhapa','Bara']}
address= input("Enter address = ")
for i in a.items():
    if address.lower() == i[1][0].lower():
        print(i)

else:
    print("ERROR!!!!")

Enter address = e
ERROR!!!!

In [2]:
a = {'Ram': ['Kathmandu', 'Dhading'],
     'Shyam': ['Kathmandu', 'Nuwakot'],
     'hari': ['Jhapa','Bara']}
a.items()

dict_items([('Ram', ['Kathmandu', 'Dhading']), ('Shyam', ['Kathmandu', 'Nuwakot']), ('hari', ['Jhapa', 'Bara'])])

In [4]:
# tuple inside list
a = {'Ram': ('Kathmandu', 'Dhading'),
     'Shyam': ('Kathmandu', 'Nuwakot'),
     'hari': ('Jhapa','Bara')}
for i in a.items():
    print(i)

('Ram', ('Kathmandu', 'Dhading'))
('Shyam', ('Kathmandu', 'Nuwakot'))
('hari', ('Jhapa', 'Bara'))

In [5]:
a['Ram']= ('Bara','LUmbini')
a

{'Ram': ('Bara', 'LUmbini'),
 'Shyam': ('Kathmandu', 'Nuwakot'),
 'hari': ('Jhapa', 'Bara')}

In [ ]:
a = {('Ram','Kali'): ['Kathmandu', 'Dhading'],
     'Shyam': ['Kathmandu', 'Nuwakot'],
     'hari': ['Jhapa','Bara']}

In [6]:
# dictionary inside list

a = [{'Name':'Ram','Address':'Kathmandu'},
    {'Name':'Shyam', 'Address':'Bara'},
    {'Name':'Kali', 'Address':'Bhaktapur'}]
print(a)

[{'Name': 'Ram', 'Address': 'Kathmandu'}, {'Name': 'Shyam', 'Address': 'Bara'}, {'Name': 'Kali', 'Address': 'Bhaktapur'}]

In [7]:
for i in a:
    print(i)

{'Name': 'Ram', 'Address': 'Kathmandu'}
{'Name': 'Shyam', 'Address': 'Bara'}
{'Name': 'Kali', 'Address': 'Bhaktapur'}

In [8]:
for i in a:
    for j in i.items():
        print(j)

('Name', 'Ram')
('Address', 'Kathmandu')
('Name', 'Shyam')
('Address', 'Bara')
('Name', 'Kali')
('Address', 'Bhaktapur')

In [9]:
for i in a:
    print(i['Name'])

Ram
Shyam
Kali

In [10]:
a = [{'Name': 'Ram', 'Address': ['Kathmandu','Patan']},
     {'Name': 'Shyam', 'Address': ['Bara','Saptari']}, 
     {'Name': 'Kali', 'Address': ['Bhaktapur','Patan']}]
b = {"Name": 'Lol', 'Address':['ktm','Palpa']}
a.append(b)
print(a)

[{'Name': 'Ram', 'Address': ['Kathmandu', 'Patan']}, {'Name': 'Shyam', 'Address': ['Bara', 'Saptari']}, {'Name': 'Kali', 'Address': ['Bhaktapur', 'Patan']}, {'Name': 'Lol', 'Address': ['ktm', 'Palpa']}]

In [11]:
a[0]['Address'][0]

'Kathmandu'

In [12]:
a[1]['Address'][0]

'Bara'

In [15]:
a = [{'Name': 'Ram', 'Address': {'Per':'Kathmandu','Tem':'Patan'}},
     {'Name': 'Shyam', 'Address': {'Per':'Bara','Tem':'Saptari'}}, 
     {'Name': 'Kali', 'Address': {'Per':'Bhaktapur','Tem':'Patan'}}]
a

[{'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 {'Name': 'Kali', 'Address': {'Per': 'Bhaktapur', 'Tem': 'Patan'}}]

In [19]:
a[0]['Address']['Per']

'Kathmandu'

In [20]:
a[0]['Address']['Tem']

'Patan'

In [22]:
# nested dictionary
a = {1:{'Name': 'Ram', 'Address': {'Per':'Kathmandu','Tem':'Patan'}},
     2:{'Name': 'Shyam', 'Address': {'Per':'Bara','Tem':'Saptari'}}, 
     3:{'Name': 'Kali', 'Address': {'Per':'Bhaktapur','Tem':'Patan'}}}
a

{1: {'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 2: {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 3: {'Name': 'Kali', 'Address': {'Per': 'Bhaktapur', 'Tem': 'Patan'}}}

In [24]:
a[4] = {'Name': 'Kali', 'Address': {'Per': 'Bhaktapur', 'Tem': 'Patan'}}
a

{1: {'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 2: {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 3: {'Name': 'Kali', 'Address': {'Per': 'Bhaktapur', 'Tem': 'Patan'}},
 4: {'Name': 'Kali', 'Address': {'Per': 'Bhaktapur', 'Tem': 'Patan'}}}

In [25]:
a[4]['Address']['Per']= 'ktm'
a

{1: {'Name': 'Ram', 'Address': {'Per': 'Kathmandu', 'Tem': 'Patan'}},
 2: {'Name': 'Shyam', 'Address': {'Per': 'Bara', 'Tem': 'Saptari'}},
 3: {'Name': 'Kali', 'Address': {'Per': 'Bhaktapur', 'Tem': 'Patan'}},
 4: {'Name': 'Kali', 'Address': {'Per': 'ktm', 'Tem': 'Patan'}}}

In [26]:
# wap to make dict inside dict
# wap to make list inside dict
# wap to make dict inside list

In [4]:
# wap to make dict inside dict
d=dict()
d['dic'] = dict()
n=int(input("Enter number of rows in dict= "))
for i in range(n):
    name=input("Enter name= ")
    per_address=input("Enter per_address = ")
    tem_address=input("Enter tem_address = ")
    d['dic']['name']=name
    d['dic']['per_address']=per_address
    d['dic']['tem_address']=tem_address
        
print(d)

Enter number of rows in dict= 2
Enter name= Ram
Enter per_address = Palpa
Enter tem_address = Ktm
Enter name= Sam
Enter per_address = Ktm
Enter tem_address = Palpa
{'dic': {'name': 'Sam', 'per_address': 'Ktm', 'tem_address': 'Palpa'}}

In [3]:
# wap to make list inside dict
d=dict()
n=int(input("Enter number of rows in dict= "))
for i in range(n):
    name=input("Enter name= ")
    address=input("Enter address= ")
    d[i]=[name,address]
    
print(d)

Enter number of rows in dict= 2
Enter name= Ram
Enter addressPalpa
Enter name= Sam
Enter addressKtm
{0: ['Ram', 'Palpa'], 1: ['Sam', 'Ktm']}

In [1]:
# wap to make dict inside list
d=list()
n=int(input("Enter number of rows in dict= "))
for i in range(n):
    name=input("Enter name= ")
    address=input("Enter address")
    d[i]={name,address}
print(d)

Enter number of rows in dict= 2
Enter name= ram
Enter addressktm

IndexError: list assignment index out of range

In [2]:
Dict = { 'Dict1': { }, 
         'Dict2': { }}
print("Nested dictionary 1-")
print(Dict)
  
# Nested dictionary having same keys
Dict = { 'Dict1': {'name': 'Ali', 'age': '19'},
         'Dict2': {'name': 'Bob', 'age': '25'}}
print("\nNested dictionary 2-")
print(Dict)
  
# Nested dictionary of mixed dictionary keys
Dict = { 'Dict1': {1: 'G', 2: 'F', 3: 'G'}, 
         'Dict2': {'Name': 'Geeks', 1: [1, 2]} }
print("\nNested dictionary 3-")
print(Dict)

Nested dictionary 1-
{'Dict1': {}, 'Dict2': {}}

Nested dictionary 2-
{'Dict1': {'name': 'Ali', 'age': '19'}, 'Dict2': {'name': 'Bob', 'age': '25'}}

Nested dictionary 3-
{'Dict1': {1: 'G', 2: 'F', 3: 'G'}, 'Dict2': {'Name': 'Geeks', 1: [1, 2]}}