In [1]:
#python collection
#list
#tuple
#set
#dict

In [2]:
#list
#-Contain Multiple data
#-Duplicate value
#-Indexing
#-Ordered
#-Mutable -> liable to change

In [3]:
a=[1,2,3,4,5,6,7,8,9]
b=["Apple","Ball","Cat","Dog"]
print(type(a))
print(b)

<class 'list'>
['Apple', 'Ball', 'Cat', 'Dog']

In [4]:
b=["Apple","Ball","Cat","Dog","Apple"]
print(b)
print(b*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']
['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [8]:
b=["Apple","Ball","Cat","Dog"]
b[1]

'Ball'

In [9]:
b=["Apple","Ball","Cat","Dog"]
b[0:3]

['Apple', 'Ball', 'Cat']

In [10]:
b=["Apple","Ball","Cat","Dog"]
b[0:4:2]

['Apple', 'Cat']

In [1]:
b=["Apple","Ball","Cat","Dog"]
b[0::2]

['Apple', 'Cat']

In [11]:
b=["Apple","Ball","Cat","Dog"]
b[0:6:2]

['Apple', 'Cat']

In [12]:
a=["Apple","Ball"]
b=["Cat"]
print(a+b)

['Apple', 'Ball', 'Cat']

In [14]:
a=["Apple","Ball"]
b=["Cat"]
print(a*2)

['Apple', 'Ball', 'Apple', 'Ball']

In [17]:
#why list is mutable??
a=["Apple","Ball"]
a[0]="Ant"
print(a)

['Ant', 'Ball']

In [19]:
# in string
a="Hello World"
b = a.replace("Hello","hello")
print(b)
print(a)

hello World
Hello World

In [1]:
x=[]
a="Apple"
b="Ball"
c=x+[a]
d=c+[b]
print(d)

['Apple', 'Ball']

In [4]:
a=[]  # or a = list()
n = int(input("Enter the value of n="))
for i in range(n):
    x=input("Enter x= ")
    a=a+[x]
    
print(a)

Enter the value of n=2
Enter x= apple
Enter x= ball
['apple', 'ball']

In [9]:
a=[]  # or a = list()
n = int(input("Enter the value of n="))
for i in range(n):
    x=int(input("Enter x= "))
    a=a+[x]
    
print(a)  
print("Sum= ",sum(a))
print("Max= ",max(a))
print("Min= ",min(a))
print("Avg= ",sum(a)/n)

Enter the value of n=5
Enter x= 1
Enter x= 2
Enter x= 3
Enter x= 4
Enter x= 5
[1, 2, 3, 4, 5]
Sum=  15
Max=  5
Min=  1
Avg=  3.0

In [10]:
a=[2,5,4,3,1]
a.sort()         #Use for accessing order
print(a)

[1, 2, 3, 4, 5]

In [11]:
a=["Ball","Apple","Zoo","Xray"]
a.sort()
print(a)

['Apple', 'Ball', 'Xray', 'Zoo']

In [12]:
a= ['Apple', 'Ball', 'Xray', 'Zoo']
for i in a:
    print(i)

Apple
Ball
Xray
Zoo

In [17]:
a= ['Apple', 'Ball', 'Xray', 'Zoo']
b=="Apple"
if b in a:
    print("Yes")

Yes

In [26]:
c=0
a= ['Apple', 'Ball', 'Xray', 'Zoo','apple']


b="Apple"

for i in a:
    if i.lower() == b.lower():
        print(i)
        c=c+1
  
print(c)

Apple
apple
2

In [28]:
c=0
a= ['Apple', 'Ball', 'Xray', 'Zoo','apple']


b=input("Enter b= ")

for i in a:
    if i.lower() == b.lower():
        print(i)
        c=c+1
  
print(c)

Enter b= apple
Apple
apple
2

In [29]:
# different functions used in list
#append() insert()  extend()

In [30]:
a=[]
b="ball"
a.append(b)
print(a)

['ball']

In [31]:
a=[]  # we cannot use multiple value inside append function

a.append("Ball")
a.append("Zoo")
a.append("Cat")
print(a)

['Ball', 'Zoo', 'Cat']

In [32]:
a=[]  # or a = list()
n = int(input("Enter the value of n="))
for i in range(n):
    x=int(input("Enter x= "))
    a.append(x)
    
print(a)  
print("Sum= ",sum(a))
print("Max= ",max(a))
print("Min= ",min(a))
print("Avg= ",sum(a)/n)

Enter the value of n=1
Enter x= 1
[1]
Sum=  1
Max=  1
Min=  1
Avg=  1.0

In [33]:
a=["Apple","Ball","Cat"]
a.append("Dog")
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [34]:
# insert()
a = ['Apple', 'Ball', 'Cat', 'Dog']
a.insert(1,"Fish")
print(a)

['Apple', 'Fish', 'Ball', 'Cat', 'Dog']

In [36]:
# insert()
a = ['Apple', 'Ball', 'Cat', 'Dog']
a.insert(2,"Fish")
print(a)

['Apple', 'Ball', 'Fish', 'Cat', 'Dog']

In [4]:
# extend()
a = ['Apple', 'Ball', 'Cat', 'Dog']
b= ["Elephant","Fan"]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fan']

In [6]:
# delete -> del remove() pop()
#del use for delete by index

a = ['Apple', 'Ball', 'Cat', 'Dog']
del a[0]
print(a)

['Ball', 'Cat', 'Dog']

In [7]:
a = ['Apple', 'Ball', 'Cat', 'Dog']
del a[0:3]
print(a)

['Dog']

In [8]:
# remove()  use for delete value

a = ['Apple', 'Ball', 'Cat', 'Dog']
a.remove("Apple")
print(a)

['Ball', 'Cat', 'Dog']

In [12]:
# remove()  use for delete value
# c=a.count("Apple")

a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
b="Apple"
c=a.count(b)
for i in range(c):
    if b in a:
        a.remove(b)
    print(a)

['Ball', 'Cat', 'Dog', 'Apple']
['Ball', 'Cat', 'Dog']

In [17]:
# remove()
x=[]
a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
b="Apple"
l=len(a)
for i in range(l):
    if b!=a[i]:
        x.append(a[i])
print(x)

['Ball', 'Cat', 'Dog']

In [18]:
# pop()
a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
a.pop(0)
print(a)

['Ball', 'Cat', 'Dog', 'Apple']

In [20]:
a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
b=a.pop(0)
print(a)
print(b)

['Ball', 'Cat', 'Dog', 'Apple']
Apple

In [23]:
a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
a.index("Cat")

2

In [24]:
a = ['Apple', 'Ball', 'Cat', 'Dog',"Apple"]
a.index("Apple")

0

In [25]:
a = ['Apple',"fish", 'Ball', 'Cat', 'Dog',"Apple"]
for i in range(len(a)):
    if "Apple"==a[i]:
        print(i)

0
5

In [1]:
info=""
add=0
n= int(input("Enter n= "))
for i in range(n):
    name=input("Enter product name=")
    price=int(input("Enter unit price= "))
    quantity= int(input("Enter quantity="))
    total=price*quantity
    s=f"{name} {price} {quantity} {total}\n"
    info=info+s
    add=add+total

print("The billing is = \n",info)
print("The total price is=",add)

Enter n= 2
Enter product name=coke
Enter unit price= 150
Enter quantity=2
Enter product name=fanta
Enter unit price= 150
Enter quantity=2
The billing is =
 coke 150 2 300
fanta 150 2 300

The total price is= 600

In [2]:
info.split('\n')

['coke 150 2 300', 'fanta 150 2 300', '']

In [4]:
info='coke 150 2 300.fanta 150 2 300'
x=info.split('.')
print(x)

['coke 150 2 300', 'fanta 150 2 300']

In [5]:
x[1]

'fanta 150 2 300'

In [7]:
#list inside list
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [13]:
a= [['coke',150,2 ,300], ['fanta', 150 ,2 ,300]]
a[0]

['coke', 150, 2, 300]

In [14]:
a[1]

['fanta', 150, 2, 300]

In [15]:
# list inside list
a=[[1,2,3],
   [4,5,6],
   [7,8,9]]
print(type(a))

<class 'list'>

In [16]:
a[0]

[1, 2, 3]

In [17]:
a[0][0]

1

In [19]:
a[1][2]

6

In [22]:
a= [['coke',150,2 ,300], ['fanta', 150 ,2 ,300]]
a[0]=["Sprit",100,2,200]
a

[['Sprit', 100, 2, 200], ['fanta', 150, 2, 300]]

In [23]:
a= [['coke',150,2 ,300], ['fanta', 150 ,2 ,300]]
a[0][0]="Sprit"
a

[['Sprit', 150, 2, 300], ['fanta', 150, 2, 300]]

In [25]:
a= [['coke',150,2 ,300], ['fanta', 150 ,2 ,300]]
a[1][1]="Sprit"
a

[['coke', 150, 2, 300], ['fanta', 'Sprit', 2, 300]]

In [31]:
print(info)
output=[]
x=info.split('.')
print(x)
for i in x:
    y=i.split()
    output.append(y)
    
print(output)

coke 150 2 300.fanta 150 2 300
['coke 150 2 300', 'fanta 150 2 300']
[['coke', '150', '2', '300'], ['fanta', '150', '2', '300']]

In [32]:
a=1
b=2
c=3
d=[a,b,c]
print(d)

[1, 2, 3]

In [33]:
info=[]
add=0
n= int(input("Enter n= "))
for i in range(n):
    name=input("Enter product name=")
    price=int(input("Enter unit price= "))
    quantity= int(input("Enter quantity="))
    total=price*quantity
    data=[name,price,quantity,total]
    info.append(data)
    add=add+total
    
    

print("The billing is = \n",info)
print("The total price is=",add)

Enter n= 2
Enter product name=coke
Enter unit price= 150
Enter quantity=2
Enter product name=fanta
Enter unit price= 150
Enter quantity=2
The billing is =
 [['coke', 150, 2, 300], ['fanta', 150, 2, 300]]
The total price is= 600

In [7]:
# search 

a = [['coke', '150', '2', '300'], ['fanta', '150', '2', '300']]
data= input("Enter a= ")
for i in a:
    if data in i:
        print(i)

Enter a= 2
['coke', '150', '2', '300']
['fanta', '150', '2', '300']

In [2]:
# delete

a = [['coke', '150', '2', '300'], ['fanta', '150', '2', '300']]
data= input("Enter a= ")
for i in a:
    if data in i:
        a.remove(i)
        
print(a)

Enter a= fanta
[['coke', '150', '2', '300']]

In [8]:
a = [['coke', [150,300]], ['fanta', '150', '2', '300']]
price=a[0][1][0]
price

150

In [13]:
a = [['coke', [150,300]], ['fanta', '150', '2', '300']]
price=a[0][1].append(500)
a

[['coke', [150, 300, 500]], ['fanta', '150', '2', '300']]

In [14]:
a = [['coke', [150,300]], ['fanta', '150', '2', '300']]
del a[0][1][0]
a

[['coke', [300]], ['fanta', '150', '2', '300']]

In [15]:
a = [['coke', [150,300]], ['fanta', '150', '2', '300']]
a[0][1][1]=350
a

[['coke', [150, 350]], ['fanta', '150', '2', '300']]