In [1]:
# Loop
#for
#while

In [3]:
# for loop
# range()-creat sequence of numbers
for i in range(5):      #for(i=0;i<5;i++) which indicates 0 to 4 
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [5]:
for i in range(1,5):    #you can define ranges ///
    print(i,"hello")

1 hello
2 hello
3 hello
4 hello

In [32]:
for i in range(1,5,2):    #for(i=0;i<5;i=i+2)
    print(i,"hello")

1 hello
3 hello

Enter n=5
5
10
15
20
25
30
35
40
45
50

In [9]:
# wap a program to display multiplication table
n=int(input("Enter n="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
s=0
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    s=s+x

print("the total sum is",s)

Enter n=5
Enter x=1
Enter x=2
Enter x=3
Enter x=4
Enter x=5
15

In [11]:
s=0
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    s=s+x

    print("the total sum is",s)

Enter n=5
Enter x=1
the total sum is 1
Enter x=2
the total sum is 3
Enter x=3
the total sum is 6
Enter x=4
the total sum is 10
Enter x=5
the total sum is 15

In [12]:
#factorial of number
# eg 4!= 1*2*3*4
fac=1
n=int(input("enter n="))
for i in range(1,n+1):
    fac=fac*i

print(fac)

enter n=4
24

In [14]:
a="Python" # string is sequence of character
for i in a:
    print(i)

P
y
t
h
o
n

In [15]:
a="Python" # string is sequence of character
for i in a:
    print("hello")

hello
hello
hello
hello
hello
hello

In [16]:
a="Python" # string is sequence of character
l=len(a)
for i in range(l):
    print(a[i])

P
y
t
h
o
n

In [19]:
s=""
n= int(input("Enter n"))
for i in range(n):
    name=input("Enter name=")
    phone=input("Enter phone no.=")
    info=name+" "+phone 
    s=s+info+"\n"
    
print(s)

Enter n2
Enter name=ram
Enter phone no.=1222
Enter name=shyam
Enter phone no.=12223
ram 1222
shyam 12223

In [21]:
for i in range(1,21):
    if i%2 !=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [29]:
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter your name")
    physics=int(input("Enter Physics marks="))
    chemistry=int(input("Enter Chemistry marks="))
    math=int(input("Enter math marks="))
    english=int(input("Enter english marks="))
    nepali=int(input("Enter nepali marks="))

    total=physics+chemistry+math+english+nepali
    per=total/5
    if per >=80:
        print("you grade is =",'A')

    elif per>=60:
         print("you grade is =",'B')

    elif per>=50:
         print("you grade is =",'C')  

    else: 
        print("you have grade is =",'F')
        
info=name+"  your have scored  total marks "+str(total)+" in your exam"
print(info)

Enter n=1
Enter your nameSabin
Enter Physics marks=80
Enter Chemistry marks=80
Enter math marks=80
Enter english marks=80
Enter nepali marks=80
you grade is = A
Sabin  your have scored  total marks 400 in your exam

In [1]:
#control statement 
#break
#continue
#pass -null operation return

In [5]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

In [7]:
a="hello world"
for i in a:
    if i==" ":
        break
    print(i)

h
e
l
l
o

In [8]:
for i in range(10):
    if i==5:       #skip 5 or like skip code execution for particular candition 
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [12]:
a="hello world"
for i in a:
    if i==" ":
        continue
    print(i,end="")

helloworld

In [13]:
a="hello,world,my,friends"
for i in a:
    if i==",":
        continue
    print(i,end="")

helloworldmyfriends

In [6]:
for i in range(1,21):
    if i % 2 !=0:
        continue
    else:
         print(i)

2
4
6
8
10
12
14
16
18
20

In [16]:
for i in range(11):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [5]:
n=int(input("enter any number n="))
if n>=2:
    for i in range(2,n):           #for else loop
        if n%i ==0:
            print("this is composite number")
            break
    else:
        print("this is prime number")

else:
    print("The number should be greater or equal to 2")

enter any number n=2
this is prime number

In [ ]:
# 0 1 1 2 3 5 8 13

In [33]:
for i in range(5,0,-2):    #decending order
    print(i)

5
3
1

In [34]:
for i in range(0,-10,-1):    #decending order
    print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [10]:
a="python"
l=len(a)
print(l)
print(a[5])
for i in range(l-1,-1,-1):
    print(a[i],end="")

6
n
nohtyp

In [44]:
# nested for
#for<>:
#    for<>:

In [45]:
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

In [48]:
for i in range(3):
    for j in range(3):
        for k in range(3):
            print(i,j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
1 1 2
1 2 0
1 2 1
1 2 2
2 0 0
2 0 1
2 0 2
2 1 0
2 1 1
2 1 2
2 2 0
2 2 1
2 2 2

In [5]:
# while loop
#while <condition>:
 #   <operations>

In [5]:
while True:
    print("hello world")

In [1]:
a=10
b=20
a>b

False

In [2]:
n=0
while n<5:
    print(n)
    n=n+1

0
1
2
3
4

In [7]:
n=1
while n<5:
    print(n,"hello world")
    n=n+2

1 hello world
3 hello world

In [8]:
# wap a program to display multiplication table
i=1
n=int(input("Enter n="))
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1                     #or i+=1

Enter n=5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
s=0
i=0
n=int(input("Enter n="))
while i<n:
    x=int(input("Enter x="))
    s=s+x
    i=i+1

print("the total sum is",s)

Enter n=3
Enter x=1
Enter x=2
Enter x=3
the total sum is 6

In [ ]:
s=""
i=0
n= int(input("Enter n"))
for i in range(n):
    name=input("Enter name=")
    phone=input("Enter phone no.=")
    info=name+" "+phone 
    s=s+info+"\n"

In [3]:
a="Python"
l=len(a)
i=0
while i<l:
    print(a[i])
    i=i+1

In [1]:
a="Python"
l=len(a)
i=0
while i<l:
    print(a[i])
    i=i+1

P
y
t
h
o
n

In [2]:
a="Python"
l=len(a)-1
i=0
while l>=i:
    print(a[l],end="")
    l=l-1

nohtyP

In [22]:
n=int(input("enter any number n="))
m=2
if n>=m:
    while m<n:           #while else loop
        if n%m ==0:
            print("this is composite number")
            break
        m=m+1    
    else:
        print("this is prime number")

else:
    print("The number should be greater or equal to 2")

enter any number n=111
this is composite number

In [24]:
#control statement in while loop
#break

while True:
    print("Hello World")
    break

Hello World

In [1]:
while 10<20:
    print("10 is greater than 20")
    break

10 is greater than 20

In [7]:
a="hello world"
l=len(a)-1
k=0
while k<l:
    if a[k]==" ":
        break
    print(a[k],end="")
    k=k+1

hello

In [6]:
a="hello world"
l=len(a)-1
k=0
while k<=l:
    if a[k]==" ":
        k=k+1
        continue
    print(a[k],end="")
    k=k+1

helloworld

In [ ]:
# pass