In [2]:
a = {1,2,3,4,5}
print(type(a))

<class 'set'>

In [ ]:
# set
# -Contain Mupltiple data
# -No Duplicate value
# -No Indexing
# -Non Ordered
# -Mutable  -> liable to change

In [4]:
# No duplicate value
a = {1,2,3,4,5,1,2,3,5}
print(a)

{1, 2, 3, 4, 5}

In [5]:
# non ordered
a = {5,2,3,4,5,1,2,3,5}
print(a)

{1, 2, 3, 4, 5}

In [6]:
# non ordered
a= {"Apple","Ball","Zebra","Cat"}
print(a)

{'Cat', 'Apple', 'Ball', 'Zebra'}

In [7]:
# no indexing
a= {"Apple","Ball","Zebra","Cat"}
a[0]

TypeError: 'set' object is not subscriptable

In [9]:
# -Mutable  -> liable to change
a=set()
a.add(1)
a.add(2)
a.add(3)
a.add("Apple")
print(a)

{'Apple', 1, 2, 3}

In [11]:
# create set
y = set()
n=int(input("Enter value of n=  "))
for i in range(n):
    x=input("Enter value of x = ")
    y.add(x)

print(y)

Enter value of n=  5
Enter value of x = 1
Enter value of x = 2
Enter value of x = 34
Enter value of x = 4
Enter value of x = 5
{'4', '5', '34', '1', '2'}

In [14]:
# list tuple set
a = {1,2,3,4,5}
b = list(a)
c=tuple(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [15]:
a=[1,2,3,4,5,4,3,1]
b=set(a)
a=list(b)
a

[1, 2, 3, 4, 5]

In [17]:
a={[1,2,3][4,5,6]}  # cannot use list inside set because it is mutable but set only support imutable data
a

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-17-7e2e89ca561b>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  a={[1,2,3][4,5,6]}  # cannot use list inside set because it is mutable but set only support imutable data

TypeError: list indices must be integers or slices, not tuple

In [18]:
a = {(1,2,3),(4,5,6)}
a

{(1, 2, 3), (4, 5, 6)}

In [19]:
a={}
type(a)

dict

In [21]:
a={1}
type(a)

set

In [22]:
a = {"Apple","Ball","Cat"}
b = {"Ball","Cat"}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [24]:
a = {"Apple","Ball","Cat"}
b = {"Ball","Cat","Fish"}
a.union(b)

{'Apple', 'Ball', 'Cat', 'Fish'}

In [25]:
a = {"Apple","Ball","Cat"}
b = {"Ball","Cat","Fish"}
a.intersection(b)

{'Ball', 'Cat'}

In [26]:
a = {"Apple","Ball","Cat"}
b = {"Ball","Cat","Fish"}
a.difference(b)

{'Apple'}

In [27]:
a = {"Ram","Sita","Gita","Nita"}
b= {"Simran","Sita","Nabin"}
c= a.union(b)
print(c)

{'Nita', 'Gita', 'Sita', 'Simran', 'Ram', 'Nabin'}

In [28]:
a = {"Ram","Sita","Gita","Nita"}
b= {"Simran","Sita","Nabin"}
c= a.intersection(b)
print(c)

{'Sita'}

In [29]:
a = {"Ram","Sita","Gita","Nita"}
b= {"Simran","Sita","Nabin"}
a.difference(b)

{'Gita', 'Nita', 'Ram'}

In [31]:
a = {"Ram","Sita","Gita","Nita"}
b= {"Simran","Sita","Nabin"}
c = a.union(b)
d = a.intersection(b)
c.difference(d)

{'Gita', 'Nabin', 'Nita', 'Ram', 'Simran'}

In [33]:
a = {"Ram","Sita","Gita","Nita"}  # sub set of U
b= {"Simran","Sita","Nabin"}       #sub set of U
U = {"Ram","Sita","Gita","Nita","Simran","Sita","Nabin","Sameer","Nitan"} # super set of a and b
c = a.union(b)
d = U.difference(c)
d

{'Nitan', 'Sameer'}

In [34]:
U.issuperset(a)

True

In [35]:
a.issubset(U)

True

In [36]:
a = {"Ram","Sita","Gita","Nita"}  # sub set of U
b= {"Simran","Sita","Nabin"}  
a.symmetric_difference(b)

{'Gita', 'Nabin', 'Nita', 'Ram', 'Simran'}

In [37]:
a = {(1,2,3),(4,5,6)}
b = {(7,8,9),(1,2,3)}
a.union(b)

{(1, 2, 3), (4, 5, 6), (7, 8, 9)}

In [38]:
a = {{1,2,3},{4,5,6}}
a

TypeError: unhashable type: 'set'

In [39]:
a = [{1,2,3},{4,5,6}]
a

[{1, 2, 3}, {4, 5, 6}]

In [40]:
a = [{1,2,3},{4,5,6}]
a

[{1, 2, 3}, {4, 5, 6}]

In [1]:
a = {'Ram':{9809876567,9876543786}}
a

{'Ram': {9809876567, 9876543786}}