In [1]:
# tuple
#-Contain Multiple data
#-Duplicate value
#-Indexing
#-Ordered
#-IMutable -> not liable to change(it can only create)

In [2]:
a=(1,2,3,4)  
b=("Apple","Ball","Cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [3]:
a=(1,2,3,4)  
b=("Apple","Ball","Cat")
c=a+b
print(c)

(1, 2, 3, 4, 'Apple', 'Ball', 'Cat')

In [5]:
s=("Apple",)
type(s)

tuple

In [6]:
a = tuple()
b = ("Apple",)
c=a+b
c

('Apple',)

In [7]:
t=tuple()
n=int(input("Enter n= "))
for i in range(n):
    x=input("Enter x=")
    t=t+(x,)
print(t)

Enter n= 2
Enter x=asas
Enter x=aadad
('asas', 'aadad')

In [8]:
# it did not change the arrangement
def cal():
    a=10
    b=20
    return a,b
cal()

(10, 20)

In [ ]:
# use for
# search indexing max min sum
# we can not update , delete, sort

In [9]:
a = (1, 2, 3, 4, 'Apple', 'Ball', 'Cat')
a[0:8:2]

(1, 3, 'Apple', 'Cat')

In [10]:
a = (1,2,3,4,5,6)
print(max(a))
print(min(a))
sum(a)

6
1

21

In [13]:
a = (1,3,2,5,6,4)
print(sorted(a))
print(a)

[1, 2, 3, 4, 5, 6]
(1, 3, 2, 5, 6, 4)

In [14]:
a = (1,3,2,5,6,4)
b=list(a)
b

[1, 3, 2, 5, 6, 4]

In [15]:
a = (1,3,2,5,6,4)
b=list(a)
del b[0]
b

[3, 2, 5, 6, 4]

In [16]:
a=tuple(b)
a

(3, 2, 5, 6, 4)

In [17]:
d=[1, 3, 2, 5, 6, 4]
e=tuple(d)
a

(3, 2, 5, 6, 4)

In [ ]:
# tuple inside tuple
# list inside tuple
# tuple inside list

In [1]:
a = ((1,2,3),(4,5,6),(7,8,9))
print(a[0])

(1, 2, 3)

In [2]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    age =input("Enter age=")
    add=input("Enter add=")
    x= (name,age,add)
    t=t+(x,)
print(t)

Enter n = 2
Enter name = Ram
Enter age=34
Enter add=kathmandu
Enter name = Shyam
Enter age=33
Enter add=Pokhara
(('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara'))

In [3]:
a = (('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara'))
list(a)

[('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara')]

In [4]:
# tuple inside list
a= [('Ram', '34', 'kathmandu'), 
    ('Shyam', '33', 'Pokhara')]
print(a)

[('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara')]

In [5]:
a[0]=("Rama","32","Patan")
a

[('Rama', '32', 'Patan'), ('Shyam', '33', 'Pokhara')]

In [8]:
a = [('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara')]
a.append(("Hari","34","Kath"))
a

[('Ram', '34', 'kathmandu'),
 ('Shyam', '33', 'Pokhara'),
 ('Hari', '34', 'Kath')]

In [6]:
a=[('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara')]
a[0][0]="rama"
a

TypeError: 'tuple' object does not support item assignment

In [9]:
# list inside tuple
a=(['Ram', '34', 'kathmandu'], ['Shyam', '33', 'Pokhara'])
a[0].append(["Hari","45","Palpa"])
a

(['Ram', '34', 'kathmandu', ['Hari', '45', 'Palpa']],
 ['Shyam', '33', 'Pokhara'])

In [10]:
# list inside tuple
a=(['Ram', '34', 'kathmandu'], ['Shyam', '33', 'Pokhara'])
a[0]=["Hari","45","Palpa"]
a

TypeError: 'tuple' object does not support item assignment

In [12]:
# tuple inside tuple to list inside list
a=(('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara'))
l = []
for i in range(len(a)):
    x= list(a[i])
    l.append(x)
print(l)

[['Ram', '34', 'kathmandu'], ['Shyam', '33', 'Pokhara']]

In [13]:
# list inside list to tuple inside tuple
a=[['Ram', '34', 'kathmandu'], ['Shyam', '33', 'Pokhara']]
l = ()
for i in range(len(a)):
    x= tuple(a[i])
    l=l+(x,)
print(l)

(('Ram', '34', 'kathmandu'), ('Shyam', '33', 'Pokhara'))

In [7]:
# WAP to make a matrix using list
m=[]
i=int(input("Enter the row of the matrix= "))
j=int(input("Enter the colume of matrix= "))
for k in range(i):
    x=[]
    for l in range(j):
        data = int(input("Enter data= "))
        x.append(data)
    m.append(x)
    
print(m)

Enter the row of the matrix= 2
Enter the colume of matrix= 2
Enter data= 1
Enter data= 2
Enter data= 3
Enter data= 4
[[1, 2], [3, 4]]

In [9]:
# Wap to make a matrix using tuple
m=()
i=int(input("Enter the row of the matrix= "))
j=int(input("Enter the colume of matrix= "))
for k in range(i):
    x=()
    for l in range(j):
        data = int(input("Enter data= "))
        x=x+(data,)
    m=m+(x,)
    
print(m)

Enter the row of the matrix= 2
Enter the colume of matrix= 2
Enter data= 1
Enter data= 2
Enter data= 3
Enter data= 4
((1, 2), (3, 4))

In [ ]:
# \n is only using in string in python